Inspector extensions for HTTPClientError and subclasses

Add a new package with tooling extensions.
As a starting point include inspector extensions for `HTTPClientError` and it's subclasses showing for each status code the information available at: https://httpstatuses.com/ :
- Error Code and Human Readable Name
- The definition of each one and a link to the RFC

For example:
```
400 Bad Request

The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).

Source: RFC7231 Section 6.5.1
```

Fixed by #56 